ipython
IProgress
jupyter
jupyterlab
biopython
codecov
cython
fasteners
griddataformats
gsd
hypothesis
joblib
matplotlib
mmtf-python
msmb_theme
netcdf4
networkx
packaging
parmed
pytest
scikit-learn
scipy
seaborn
sphinx
sphinx_rtd_theme
sphinx_sitemap
threadpoolctl
tqdm
plotly
numpy
pandas
deeptime
pyemma
nglview
dask==2021.4.1
distributed==2021.4.1
torch
mdanalysis @ git+https://github.com/yuxuanzhuang/mdanalysis#egg=with_fasttrans&subdirectory=package
ENPMDA @ git+https://github.com/yuxuanzhuang/enpmda
